<div class="col-md-6">

	<div class=" col-md-push-3 image-container">
		<img src="/images/cuPID.png" alt="cuPID" id="p2p"/>
		<div class="after">
			<a href="https://github.com/RehnumaTarannum/cuPID_System"><img src="/images/github.png"></a>
		</div>

	</div>

</div>
<div class="col-md-6">
	<h1><strong>Carleton University Project Partner Finder</strong></h1>

	<p>The System was designed to form ideal groups/teams from a given group </p> 
	<p>of people based on their personity profile questionaire that</p>
	<p> they fill of to sign up into the system</p>
	

	<h3>Features</h3>
	<hr></hr>
	<p><i>A customizable algorithm for sorting people into groups</i></p>
	<p><i>The system adminstrator can filter people based of project requirement</i></p>
	<p><i>People can request to be registered into a project</i></p>
	
</div>





