<div class="col-md-6">
	<div class=" col-md-push-3 image-container">
		<img src="/images/p2p.jpg" alt="Peer-to-Peer" id="p2p"/>
		<div class="after">
			<a href="https://github.com/chukzzy/Webpage"><img src="/images/github.png"></a>
		</div>

	</div>

</div>
<div class="col-md-6">
	<h1><strong>Peer Aide Website</strong></h1>

	<p>The goal of the website is to improve</p> 
	<p>performance in Unversity by means of Peer Reviews</p>

	<h3>Features</h3>
	<hr></hr>
	<p><i>Get Tips and Tricks from Peers to ace a course</i></p>
	<p><i>Monitor Professor Reviews</i></p>
	<p><i>Access Course Resources</i></p>
	<p><i>Find and connect with Tutors</i></p>
</div>





