<h3 class="margin">Where To Find Me?</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p><i> Want to hangout with me just add me on Facebook</i></p>
      <a href="https://www.facebook.com/rehnuma.tarannum.14"><img src="/images/facebook.png"></a>
    </div>
    <div class="col-sm-4"> 
      <p><i>Checkout my Professional Network and track my career on Linkedin</i></p>
      <a href="https://www.linkedin.com/in/rehnuma-tarannum-bb79a648"><img src="/images/linkedin.png"></a>
    </div>
    <div class="col-sm-4"> 
      <p>Check out my rad Programming Skills and Projects at Github</p>
      <a href="https://github.com/RehnumaTarannum"><img src="/images/github.png"></a>
    </div>
  </div>