<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/header %>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<% include ../partials/navbar %>
		</nav>
		
		<div class="container-fluid bg-1 text-center" >
			<% include ../partials/project1 %>
		</div>
	
		<div class="container-fluid bg-2 text-center" id="about">
  			<% include ../partials/project2 %>
    	</div>
    
    	<div class="container-fluid bg-3 text-center">    
  			<% include ../partials/project3 %>
		</div>
 	
 	
 		<footer class="container-fluid bg-4 text-center">
   			<% include ../partials/footer %>
		</footer>
	  	
	</body>
</html>