<!DOCTYPE html>
<html lang="en">
<head>
	
	<% include ../partials/header %>
  
</head>
<body>

	<nav class="navbar navbar-default">
		<% include ../partials/navbar %>
	</nav>
	
	<div class="container-fluid bg-1 text-center" >
		<% include ../partials/firstContainer %>
	</div>
	
	<div class="container-fluid bg-2 text-center">
  		<% include ../partials/secondContainer %>
    </div>
    
    <div class="container-fluid bg-3 text-center">    
  		<% include ../partials/thirdContainer %>
	</div>
	
	
	
	<footer class="container-fluid bg-4 text-center">
   		<% include ../partials/footer %>
	</footer>
	
	<!--<script src="js/rusumeNav.js"></script>-->
	
</body>
</html>