<!DOCTYPE html>
	<html lang="en">
	
	<head>
		<% include ../partials/header %>
	</head>
		
	<body>

		<nav class="navbar navbar-default">
			<% include ../partials/navbar %>
		</nav>
	   
	   
	   <div class = "container">
	   		<h1 style="color:#808080">My Resume <a href='resume/resume.pdf' target="_blank"><span class='glyphicon glyphicon-download'></h1>
	   		<hr class="style-eight"></hr>
	   		<div class="col-md-6">
	   			<img src="/resume/file-page1.jpg" width="650">

	   		</div>
	   		<div class="col-md-6">
	   			<img src="/resume/file-page2.jpg" width="650">
	   		</div>
	   		
	   		<!--<% include ../partials/resumeModal %>-->
		</div>
	   
		<footer class="container-fluid bg-4 text-center">
	   		<% include ../partials/footer %>
		</footer>
	
		<script src="js/resumeNav.js"></script>
	
	</body>
</html>